In [4]:
import functions as f
import geopandas as gpd
import imp
imp.reload(f)

In [25]:
import geopandas as gpd
from shapely.wkt import loads
import re

simpledec = re.compile(r"\d*\.\d+")
def mround(match):
    return "{:.5f}".format(float(match.group()))

In [38]:
df_raw = df_streets_raw.sample(100)
df_round = df_raw.copy()
df_round.geometry = df_round.geometry.apply(lambda x: loads(re.sub(simpledec, mround, x.wkt)))
js_raw = df_raw.to_json()
js_round = df_round.to_json()

vals = {}
vals['full'] = len(js_raw)
vals['round'] = len(js_5)
vals['just_geo'] = len(df_raw[['geometry']].to_json())
vals['just_geo_round'] = len(df_round[['geometry']].to_json())
vals

{'full': 61363, 'round': 53994, 'just_geo': 26768, 'just_geo_round': 19904}

In [42]:
df_small = df_streets_raw.copy()
df_small.geometry = df_small.geometry.apply(lambda x: loads(re.sub(simpledec, mround, x.wkt)))
with open('docs/nyc_bikeroutes_small.geojson', 'w') as f:
    f.write(df_small[['geometry']].to_json())

In [40]:
df_small.sample(1)

,bikedir,fromstreet,lanecount,facilitycl,ft2facilit,tf2facilit,tostreet,tf_facilit,shape_leng,allclasses,onoffst,ft_facilit,boro,street,segmentid,comments,geometry
2722,2,E HOUSTON ST,2,I,NaN,NaN,RIVINGTON ST,Protected Path,460.202124969,I,ON,Protected Path,1,CHRYSTIE ST,32486,NaN,None